# Bundler cache (variable-hook.scss used for my own little updates to the theme)
.bundle
vendor/**
!*/
!vendor/bundle/ruby/3.2.0/gems/jekyll-theme-chirpy-7.1.1/_sass/variables-hook.scss

Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/dist
assets/js/dist
.bundle/config
