/* assets/css/custom.css */
.img-small { 
  width: 400px; 
  max-width: 100%; 
  height: auto; 
}

.img-medium { 
  width: 600px; 
  max-width: 100%; 
  height: auto; 
}

.img-large { 
  width: 800px; 
  max-width: 100%; 
  height: auto; 
}

.img-responsive {
  max-width: 100%;
  height: auto;
}